<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CSS (LessTidy)</string>
	<key>uuid</key>
	<string>918C4F70-1DC2-4857-A19C-AF657322566C</string>
</dict>
</plist>
